# Ignore all Python files by default
*.py

# Ignore common artifacts
*.exe
*.png
*.jpg
*.jpeg
*.csv
*.pkl
*.cbm
*.joblib
api.log

# Ignore Python environment and cache
.venv/
__pycache__/
catboost_info/

# EXPLICITLY allow only the needed files
!api.py
!requirements.txt
!Procfile
!future_model.joblib
!future_scaler.joblib
!future_model_features.joblib
